body{
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}
.topbar{
    padding: 0%; 
    max-width: 100%; 
    height: auto;
}
.neflixlogo{
    height:40px;
}
.languagebtntop{
    border-radius: 0%;
    font-size: 14px; 
    background-color: black; 
    border: 2px white; 
}
#languagebtnglobe{
    filter: invert();
}
.signinbtn{
    background-color: red; 
    color: white; 
    border: 0ch; 
    border-radius: 5px;
}
.hero {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/f841d4c7-10e1-40af-bcae-07a3f8dc141a/8e07a611-4ced-4d4e-81e6-d278862c952b/IN-en-20220502-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    height: 80vh;
    width: 100vw; 
    
}
.backgroundimg{
    max-width: 100%; height: auto;
}
.emamailadress{
    padding-left:160px ;
    max-width: 100%; 
    height: auto;
}
.emailsubmit{
    background-color: red; padding-left: 70px;
}
.firstbox{
    background-color: black; border-top: solid 5px gray;
}
.firstboxtext{
    margin-top: 160px;
}
.firstboximg{
    max-width: 100%; height: auto;
}
.secondbox{
    background-color: black; border-top: solid 5px gray;
}
.secondboximg{
    max-width: 100%; height: auto;
}
.secondboxtext{
    margin-top: 160px;
}
.thirdbox {
    background-color: black; border-top: solid 5px gray;

}
.thirdboxtext {
    margin-top: 160px;

}
.thirdboximg{
    max-width: 100%; height: auto;

}
.box4{
    background-color: black; border-top: solid 5px gray;

}
.box4img{
    max-width: 100%; height: auto;

}
.box4text{
    margin-top: 160px

}

li {
    list-style-type: none;
    text-align: start;
    color: rgba(255, 255, 255, 0.4);
}
